h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

p, a, button {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Generic styles */
html {
  scroll-behavior: smooth;
}

/* Styles for the hero image */
.hero {
  background: url('../images/hero-sm.webp') center;
  background-size: cover;
  /* Add a transparent layer on top to make sure text is readable */
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, .4);
  padding: 4rem 2rem;
  /* grid styles */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
}

@media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .hero {
    background: url('../images/hero-med.webp') center;
  }
}

.hero > * {
  color: white;
}

.hero > h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
}

.hero > article {
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, .6);
  border-radius: .5rem;
  padding: .5rem;
}

.hero > article > p {
  font-size: 1.5rem;
  font-weight: 300;
}

.hero > article > a {
  padding: .5rem 1rem;
  margin-top: .75rem;
}

/* footer */
footer {
  background-color: #333;
  padding: .75rem;
  color: white;
  text-align: center;
  font-size: .75rem;
}


#more {display: none;}

